<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. 
     
     he dnd-list directive enables to drop elements into the referenced array. 

     The dnd-draggable directive makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
<script type="text/ng-template" id="list.html">
    <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-type="'container'"
            dnd-horizontal-list="true"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'">
        </li>
    </ul>
</script>

<!-- <script type="text/ng-template" id="steps.html">
    <ul dnd-list="steps">
        <li ng-repeat="item in steps"
            dnd-draggable="item"
            dnd-type="'steps'"
            dnd-horizontal-list="true"
            dnd-effect-allowed="move"
            dnd-moved="steps.splice($index, 1)"
            dnd-selected="models.selected = steps"
            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'">
        </li>
    </ul>
</script>
 -->

<!-- 

<ul dnd-list="containers"
    dnd-allowed-types="['container']"
    dnd-external-sources="true"
    dnd-dragover="dragoverCallback(index, external, type, callback)"
    dnd-drop="dropCallback(index, item, external, type)">
    <li ng-repeat="container in containers"
        dnd-draggable="container"
        dnd-type="'container'"
        dnd-effect-allowed="copyMove"
        dnd-moved="containers.splice($index, 1)"
        dnd-callback="container.items.length">
        <div class="container-element box box-blue">
            <h3>Container (effects allowed: {{container.effectAllowed}})</h3>
            <ul dnd-list="container.items"
                dnd-allowed-types="['item']"
                dnd-horizontal-list="true"
                dnd-external-sources="true"
                dnd-effect-allowed="{{container.effectAllowed}}"
                dnd-dragover="dragoverCallback(index, external, type)"
                dnd-drop="dropCallback(index, item, external, type)"
                dnd-inserted="logListEvent('inserted at', index, external, type)"
                class="itemlist">
                <li ng-repeat="item in container.items"
                    dnd-draggable="item"
                    dnd-type="'item'"
                    dnd-effect-allowed="{{item.effectAllowed}}"
                    dnd-dragstart="logEvent('Started to drag an item')"
                    dnd-moved="container.items.splice($index, 1)"
                    dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                    {{item.label}}
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </li>
</ul>







 -->







<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="root.html">
    <div class="container-element box box-blue">
        <h3>{{item.type}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'root.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>
<!-- 
<script type="text/ng-template" id="DynamicDeploymentConfiguration.html">
    <div class="container-element box box-blue">
        <h3>{{item.type}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="InitializeCustomExtension.html">
    <div class="container-element box box-blue">
        <h3>{{item.type}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="Steps.html">
    <div class="container-element box box-blue">
        <h3>{{item.type}}</h3>
        <div class="column" ng-repeat="steps in item.columns" ng-include="'steps.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="Step.html">
    <div class="container-element box box-blue">
        <h3>{{item.type}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="Solution.html">
    <div class="container-element box box-blue">
        <h3>{{item.type}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>




 -->

<!-- Template for a normal list item -->
<script type="text/ng-template" id="item.html">
    <div class="item">Item {{item.type}}</div>
</script>





<div class="col-sm-4">

    <div class="toolbox box box-grey box-padding">
        <h3>New Elements</h3>
        <ul>
            <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
            <li ng-repeat="item in models.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                >
                <button type="button" class="btn btn-default btn-lg" >{{item.type}}</button>
            </li>
             <button type="button" class="btn btn-default btn-lg" >{{item.type}}</button>
        </ul>
    </div>

    <div ng-if="models.selected" class="box box-grey box-padding">
        <h3>Selected</h3>
        <strong>Type: </strong> {{models.selected.type}}<br>
        <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
    </div>

    <div class="trashcan box box-grey box-padding">
        <!-- If you use [] as referenced list, the dropped elements will be lost -->
        <h3>Trashcan</h3>
        <ul dnd-list="[]">
            <li><img src="nested/trashcan.jpg"></li>
        </ul>
    </div>

</div>

<div  class="col-sm-4">
            <div class="dropzone box box-yellow">
                XML Drop Zone
                <h3>Dropzone zone</h3>
                 <div ng-include="'list.html'"></div> 
              <!--   <div ng-include="'steps.html'"></div>
                <div ng-include="'root.html'"></div> -->
      
            </div>
        </div>

<!-- Main area with dropzones and source code -->
<div class="col-wm-4">
    <div view-source="nested"></div>
<h2>Generated Model</h2>
    <pre>{{modelAsJson}}</pre>
    
</div>



<!-- Sidebar -->
